header {
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.header{
    display: flex;
    background-color:rgb(153, 204, 185); 
    align-items: baseline;
}

.navbar-start{
    background-color: rgb(153, 204, 185);

}
#add-task-btn {
  background-color: #051009; 
  color: white;

}
#add-task-btn {
  margin-top: 20px; 
  margin-bottom: 20px; 
  padding: 5px 10px; 
}
.add-card-btn {
  background-color: #000;
  color: #fff;
  border-color: #000;
}

.add-card-btn:hover {
  background-color: #333;
  color: #fff;
}
